/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: #2196F3 5px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(221, 221, 221)253, 229, 229);
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: rgb(33, 124, 243);
    color: palegreen;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: 5px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 5px solid mediumspringgreen;
      background-color: #2196F3;
    }
   
  }
  #img{
    width: 300px;
   border-radius: 50%;
   position: relative;
  text-align: center;
  color: white;
  }
  .{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .container{
    position: relative;
  text-align: center;
  color: white;
  }
  .col-sm-4{
    width: 150px;
    margin: 20%;
  }
  .mySlides {
    width: 1000px;
    text-align: center;
    position: relative;

  }
  .mySlides fade {
    width: 1000px;
    text-align: center;
    position: relative;
  }
  header{
    background-image: url("bk.jpg"), url("paper.gif");
    background-repeat: no-repeat, repeat;
    background-color: #cccccc
  }


  <style>
    * {
      box-sizing: border-box
    }

    body {
      font-family: Verdana, sans-serif;
      margin: 0
    }

    .mySlides {
      display: none
    }

    img {
      vertical-align: middle;
    }

    /* Slideshow container */
    .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
    }

    /* Next & previous buttons */
    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }

    /* Caption text */
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }

    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }

    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
      background-color: #717171;
    }

    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
      from {
        opacity: .4
      }

      to {
        opacity: 1
      }
    }

    @keyframes fade {
      from {
        opacity: .4
      }

      to {
        opacity: 1
      }
    }

    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {

      .prev,
      .next,
      .text {
        font-size: 11px
      }
    }
  </style>

#footer-links h3 {
  margin: 5px 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  vertical-align: middle;
  border-bottom: 1px solid #e1e1e1;
}

.social-linke {
  background: left center no-repeat;
  padding-left: 24px;
  margin-bottom: 10px;
}
.social-linke.facebook {
  background-image: url(https://image.flaticon.com/icons/svg/174/174848.svg) ;
 
}
.social-linke.instegram {
  background-image: url(https://image.flaticon.com/icons/svg/174/174855.svg);
}
.colum{
  width: 5px;
  float: left;
  margin-top: 5px;
  margin-left: 45%;
  background-color: #2196F3;
}
h3{
  padding-left: 5%;
  margin-left: 42%;
  font-family: Arial, Helvetica, sans-serif;
}
 .footer{
   background-color: #2196F3,
 }